@use './variaveis' as *;

.inventario {
  padding: 2rem;
  text-align: center;
  color: #fff;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;

  h1,
  h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .vazio {
    font-size: 1.2rem;
    color: #ccc;
    margin-top: 1rem;
  }

  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-items: center;
    margin-top: 15px;
    padding-bottom: 2rem;
    width: 100%;
  }

  .figurinha {
    background: $card;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    transition: transform 0.2s;
    width: 100%;
    max-width: 150px;
    color: $fundo;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: auto;
      max-width: 100px;
      margin-bottom: 0.5rem;
      border-radius: 8px;
    }

    p {
      margin: 0;
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .inventario {
    padding: 1.5rem;

    h1,
    h2 {
      font-size: 1.7rem;
    }

    .grid {
      gap: 0.8rem;
    }

    .figurinha {
      padding: 0.8rem;
      max-width: 130px;

      img {
        max-width: 90px;
      }
    }
  }
}

@media (max-width: 480px) {
  .inventario {
    padding: 1rem;

    h1,
    h2 {
      font-size: 1.4rem;
    }

    .grid {
      gap: 0.6rem;
    }

    .figurinha {
      max-width: 100px;
      padding: 0.7rem;

      img {
        max-width: 70px;
      }

      p {
        font-size: 0.85rem;
      }
    }
  }
}
